### Input your operating system
# e.g.
# windows, linux, osx
os = 

### Set your CPU architecture
# e.g.
# x86, x86_64
arch = 

### Set your JAVA_HOME
# e.g.
# on linux (ubuntu, debian) : /usr/lib/jvm/default-java
# on osx                    : /Library/Java/Home
JAVA_HOME = 
